:root{
    --light: #A6FFA9;
    --base: #4CAF50;
    --dark: #1E3E1F;
}

h1{
 font-family: Fugaz One;
 margin: 0px;
 color: var(--dark);
}

h2{
    font-family: Fugaz One;
    color: var(--dark);
    align-items: flex-end;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

a {
    padding: 15px;
    background-color: var(--base);
  }

header {
    height: 8vh;
    background-color: var(--base);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: hd;
    
}
#bakgrund{
    grid-area: bg;
}

body{
    margin: 0px
}

#container {
    display: grid;
    margin: 0px;
    height: 122vh;
    width: 100%;
    background-color: var(--light);
    grid-template-rows: 35vh 40vh 12vh 23vh 12vh;
    grid-template-columns: 5vw 10vw 10vw auto 15vw 15vw;
    grid-template-areas:
    'im im im im im im'
    '. . mn mn mn .'
    '. . . . . .'
    '. im2 im2 . as as'
    '. h2 h2 . as as'
    ;
}

#image{
    grid-area: im;
    display: grid;
    overflow: hidden;
    justify-content: center;
}

#image2{
    display: grid;
    grid-area: im2;
    height: 23vh;
}

main{
    font-family: Commissioner;
    grid-area: mn;
    background-color: var(--base);
    margin-top: 10px;
    padding: 10px;
}

aside{
    font-family: Commissioner;
    grid-area: as;
    background-color: var(--base);
    padding: 15px;
}

footer{
    height: 20vh;
    background-color: var(--dark);
    grid-area: ft;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

commissioner-vanlig {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
